.git
.github
.venv
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
htmlcov
.ipynb_checkpoints
.env
.DS_Store
artifacts/*.joblib
artifacts/models/*
artifacts/mappings/*
data/processed/*
dist
notebooks
tests
mlruns
mlartifacts
mlflow.db
