.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
artifacts/models/*.pkl
artifacts/models/*.joblib
artifacts/mappings/*.pkl
artifacts/mappings/*.joblib
data/processed/*
!data/processed/.gitkeep
.env
.DS_Store
